html {
    scroll-behavior: smooth;
}

html,
body {

    background: linear-gradient( lightskyblue,rgb(0, 77, 124));
}

h1,h2,h3,h4,p{
    família de fontes: 'Noto Serif', serif;
}

header {
    background: darkblue;
    margin-bottom: 50px;
}

.container {
    width: 980px;
    margin: auto;
}

.caixa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.logo-loja {
    width: 250px;
    height: 250px;
}

nav {
    margin-top: 100px;
}

nav :hover {
    color: tomato;
}

nav a {
    text-decoration: none;
    color: yellow;
}

.lista {
    font-size: 1.5em;
    text-transform: uppercase;
    top: 180px;
    margin: 0 0 0 15px;
    font-weight: bold;
    display: inline;
}

.galery {
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin: auto;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    background: darkgrey;
}

.galery .quadros img {
    width: 19.9%;
}

.quadros {
    width: 500%;
    animation-name: animaçao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.fotos {
    width: 100%;
    height: 11.5cm;
}

.quadros-redondo {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: lightskyblue;
    transition: all .5s;
    margin-left: 65px;
    margin-top: 70px;
}

.quadros-redondo:hover {
    border: 10px solid darkblue;
    border-radius: 20%;
    width: 190px;
}

.container-home {
    display: grid;
    grid-template-columns: 30% 60%;
   
    grid-gap: 30px;
    margin-top: 100px;
}

.caixa-bibliografia {
    height: 40%;
    padding: 10px 10px 100% 10px;
    background: darkblue;
    margin: 0px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    color: rgb(91, 92, 94);
}

.bia-bibliografia {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
h1{
    font-size: 1.7em;
    margin-bottom: 10px;
}

p{
    font-size: 1.1em;
    margin: 5px;
}

h2 {
font-size: 2em;
    color: darkblue;
    margin-bottom: 2.0em;
}    

.caixa-texto {
    text-align: center;
    font-size: 1.4em;
    color: black;
}    


.faixa {
    background: darkblue;
    padding: 20px;
}

h3 {
    text-align: center;
    font-size: 2em;
    margin: 0px;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
}

.borda {
    margin: 0px;
    text-align: center;
    border: 5px transparent black;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:white;
    padding-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.5s ;
    cursor: pointer;
}

.borda:hover{
    transform:scale(1.1);
}

.quadros-religiosos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 50px;
    border-radius: 20px;
}

.quadros-criança {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 50px;
    border-radius: 20px;
}

.quadros-desenho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 50px;
    border-radius: 20px;
}

img {
    height: 10cm;
    width: 90%;
}

.vendas {
    border-radius: 20px;
}    

h4{
    margin-left: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}

form{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.formulario, label{

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
   border: transparent;
    border-radius: 20px;
}

.caixa-obs, .obs{
    width: 80%;
    height: 262px;
    margin-top: 9px;
    margin-left: 50px;  
}

.cor{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.botao{
    text-align: 20px;
    width: 50%;
   height: 30px;
   border: transparent;
   border-radius: 20px;
    margin: auto;
   margin-top: 40px;
   font-weight: bold;
   text-transform: uppercase;
   transition: all 0.3s;
   cursor: pointer;
}

.botao:hover{
    background: rgb(139, 144, 146);
}

footer {
    background: rgb(11, 11, 206);
    padding: 0px;
    text-align: center;
    padding-bottom: 10px;
    width: 100%;
}

#imagem-rodape {
    margin: auto;
    display: block;
    width: 250px;
    height: 250px;
}


@media screen and (max-width: 480px){
.caixa-bibliografia,.borda,{
    width: 100%;
}
.caixa{
    grid-template-columns: 100%;  
}
.logo-loja{
    margin-left: 60px;
}

ul{
    padding: 0px;
    margin-bottom: 40px;
}

.quadros-redondo{
    margin: auto;
}
.container-home{
    grid-template-columns: 100%;
    grid-template-rows: 750px;
    margin: auto;
}
.caixa-bibliografia{
    padding-bottom: 430px;
}

.quadros-criança, .quadros-desenho, .quadros-religiosos{
    grid-template-columns: 1fr ;
    margin: auto;
}
.obs{
    margin: auto;
    width: 70%;
}

h4{
    text-align: center;
}
}